.team-section {
    position: relative;
    >svg {
        position: absolute;
        top: 0;
        right: 0;
        pointer-events: none;
    }
    .team-content {
        background: linear-gradient(#3b424a 0%, #1a2129 100%);
        min-height: 750px;
        .main-title {
            padding: 195px 0px 0px;
            width: 994px;
            margin: 0 auto;
            position: relative;
            .list-item {
                ul {
                    display: flex;
                    gap: 20px;
                    li:first-child {
                        border-right: 1px solid #ffb81d;
                        padding-right: 17px;
                        a {
                            font-weight: normal;
                            font-size: 14px;
                            text-align: left;
                            color: #fff;
                            opacity: 0.7;
                            text-transform: uppercase;
                        }
                    }
                    li:nth-child(2) {
                        a {
                            color: #ffb81d;
                            text-transform: uppercase;
                        }
                    }
                }
            }
            .title-items {
                margin-top: 69px;
                display: flex;
                justify-content: space-between;
                .title {
                    h1 {
                        font-weight: normal;
                        font-size: 50px;
                        line-height: 60px;
                        text-align: left;
                        color: #fff;
                        text-transform: uppercase;
                        span {
                            color: #ffb81d;
                        }
                    }
                }
                .title-desceiprion {
                    width: calc(100% - 561px);
                    p {
                        font-family: "pragmatica";
                        font-weight: normal;
                        font-size: 16px;
                        letter-spacing: 0.03em;
                        line-height: 26px;
                        text-align: left;
                        color: #fff;
                        opacity: 0.87;
                        margin-bottom: 18px;
                    }
                }
            }
        }
    }
    .parent-filter {
        .shapend {
            position: absolute;
            right: 0;
            top: 1422px;
            height: 760px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            svg {
                width: 271px;
            }
        }
        .shape {
            position: absolute;
            left: 0;
            display: flex;
            top: 474px;
            svg {
                width: 271px;
            }
        }
        .filters {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-box-align: end;
            -ms-flex-align: end;
            align-items: flex-end;
            width: 100%;
            margin: 0 auto;
            margin-top: 84px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-box-align: end;
            padding: 0px 29px 0px 57px;
            ul {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                gap: 37px;
                padding-bottom: 10px;
                position: relative;
                li {
                    font-family: "pragmatica";
                    font-weight: bold;
                    font-size: 14px;
                    letter-spacing: 0.03em;
                    line-height: 26px;
                    text-align: left;
                    color: #fff;
                    opacity: 0.8;
                    text-transform: uppercase;
                    &.active {
                        opacity: 1;
                        &::before {
                            content: "";
                            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25.339' height='25.339' viewBox='0 0 25.339 25.339'%3E%3Cpath id='Path_1776' data-name='Path 1776' d='M0,0V25.339H25.339Z' fill='%23cd9019'/%3E%3C/svg%3E%0A");
                            position: absolute;
                            background-position: center;
                            background-size: cover;
                            background-repeat: no-repeat;
                            width: 25px;
                            height: 23px;
                        }
                    }
                    span {
                        position: relative;
                    }
                }
            }
            .search {
                position: relative;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                input {
                    width: 100%;
                    border: none;
                    border-right: none;
                    border-radius: 5px 0 0 5px;
                    outline: none;
                    color: #000;
                    background: none;
                }
                button {
                    width: 40px;
                    height: 50px;
                    border: none;
                    background: none;
                    text-align: center;
                    color: #fff;
                    border-radius: 0 5px 5px 0;
                    cursor: pointer;
                    font-size: 20px;
                }
            }
        }
        .filter-items {
            max-width: 100%;
            margin: 28px auto 0 auto;
            display: -ms-grid;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-column-gap: 18px;
            grid-row-gap: 18px;
            position: relative;
            z-index: 1;
            a {
                img {
                    object-fit: cover;
                    width: 100%;
                    height: 360px;
                }
            }
            .filter-item {
                width: 100%;
            }
            .content {
                position: relative;
                margin: auto;
                overflow: hidden;
                .content-overlay {
                    background: linear-gradient( 180deg, #3b424a00 0%, #3b424a9b 47%, #3b424af4 80%, #3b424a 100%);
                    position: absolute;
                    height: 360px;
                    width: 100%;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    opacity: 0;
                    mix-blend-mode: multiply;
                    -webkit-transition: all 0.4s ease-in-out 0s;
                    transition: all 0.4s ease-in-out 0s;
                }
                &:hover .content-overlay {
                    opacity: 1;
                }
                .content-details {
                    position: absolute;
                    text-align: left;
                    padding-left: 1em;
                    padding-right: 1em;
                    width: 100%;
                    top: 50%;
                    left: 50%;
                    opacity: 0;
                    -webkit-transform: translate(-50%, -50%);
                    -moz-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    -webkit-transition: all 0.3s ease-in-out 0s;
                    -moz-transition: all 0.3s ease-in-out 0s;
                    transition: all 0.3s ease-in-out 0s;
                    .content-title {
                        padding-top: 138px;
                        padding-left: 14px;
                        font-weight: normal;
                        font-size: 28px;
                        line-height: 28px;
                        text-align: left;
                        color: #fff;
                        text-transform: uppercase;
                        word-spacing: 9999999px;
                    }
                    .content-text {
                        padding-left: 14px;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 23px;
                        text-align: left;
                        color: #ffb81d;
                        text-transform: uppercase;
                        padding-top: 10px;
                        &::after {
                            position: absolute;
                            content: "";
                            width: 50px;
                            height: 50px;
                            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='51.683' height='51.688' viewBox='0 0 51.683 51.688'%3E%3Cdefs%3E%3ClinearGradient id='linear-gradient' x1='0.76' y1='0.5' x2='0.015' y2='1' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23ffb81d'/%3E%3Cstop offset='1' stop-color='%23ffd995'/%3E%3C/linearGradient%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_128' data-name='Rectangle 128' width='51.688' height='51.683' fill='none'/%3E%3C/clipPath%3E%3CclipPath id='clip-path-2'%3E%3Cpath id='Path_498' data-name='Path 498' d='M12.925,12.92,0,25.839H51.688L38.769,12.92,25.844,0Z' fill='url(%23linear-gradient)'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_300' data-name='Group 300' transform='translate(51.683) rotate(90)'%3E%3Cg id='Group_298' data-name='Group 298' transform='translate(0 0)'%3E%3Cg id='Group_297' data-name='Group 297' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_499' data-name='Path 499' d='M0,35.55,13.779,14.223,35.514,0Z' transform='translate(9.747 9.693)' fill='%233c3c3b' opacity='0.3'/%3E%3C/g%3E%3C/g%3E%3Cpath id='Path_497' data-name='Path 497' d='M25.844,0,0,25.844l12.925,12.92L25.844,51.683Z' transform='translate(25.845 0)' fill='%23cd9019'/%3E%3Cg id='Group_293' data-name='Group 293' transform='translate(0 25.843)'%3E%3Cg id='Group_292' data-name='Group 292' clip-path='url(%23clip-path-2)'%3E%3Crect id='Rectangle_126' data-name='Rectangle 126' width='51.688' height='25.839' transform='translate(0 0)' fill='url(%23linear-gradient)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
                            bottom: -64px;
                            left: 0;
                            background-position: center;
                            background-size: cover;
                            background-repeat: no-repeat;
                        }
                    }
                }
                .fadeIn-bottom {
                    top: 80%;
                }
                &:hover .content-details {
                    top: 50%;
                    left: 50%;
                    opacity: 1;
                }
            }
        }
        .pagination {
            position: relative;
            width: 100%;
            padding-bottom: 44px;
            .pagination-content {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                width: 440px;
                margin: 60px auto;
                margin: 23px auto 0px;
                gap: 30px;
                ul {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    gap: 40px;
                    li {
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 30px;
                        text-align: left;
                        color: #fff;
                        opacity: 0.6;
                        span {
                            position: relative;
                            z-index: 1;
                            font-weight: 600;
                        }
                        &.active {
                            &::before {
                                content: "";
                                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25.339' height='25.339' viewBox='0 0 25.339 25.339'%3E%3Cpath id='Path_1108' data-name='Path 1108' d='M25.339,0V25.339H0Z' fill='%23cd9019'/%3E%3C/svg%3E%0A");
                                position: absolute;
                                background-position: center;
                                background-size: cover;
                                background-repeat: no-repeat;
                                width: 25px;
                                height: 23px;
                                margin-left: -4px;
                            }
                            opacity: 1;
                        }
                        a {
                            font-weight: normal;
                            font-size: 16px;
                            line-height: 30px;
                            text-align: left;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    .searchTerm::placeholder {
        font-weight: normal;
        font-size: 14px;
        letter-spacing: 0.03em;
        line-height: 26px;
        text-align: left;
        color: #fff;
        opacity: 0.3;
        text-transform: uppercase;
    }
    .searchTerm::-webkit-input-placeholder {
        font-weight: normal;
        font-size: 14px;
        letter-spacing: 0.03em;
        line-height: 26px;
        text-align: left;
        color: #fff;
        opacity: 0.3;
        text-transform: uppercase;
    }
    .searchTerm:-ms-input-placeholder {
        font-weight: normal;
        font-size: 14px;
        letter-spacing: 0.03em;
        line-height: 26px;
        text-align: left;
        color: #fff;
        opacity: 0.3;
        text-transform: uppercase;
    }
    .searchTerm::-ms-input-placeholder {
        font-weight: normal;
        font-size: 14px;
        letter-spacing: 0.03em;
        line-height: 26px;
        text-align: left;
        color: #fff;
        opacity: 0.3;
        text-transform: uppercase;
    }
    .hide {
        display: none;
    }
}